@model List<basics.Models.Course>

@section Header {
    @await Html.PartialAsync("_Header")
}

<div class="row">
    @foreach (var kurs in Model)
    {
        @if (kurs.isActive && kurs.isHome)
        {
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <img src="~/img/@kurs.Image" class="card-img-top" alt="@kurs.Title" />
                    <div class="card-body">
                        <h5 class="card-title">@kurs.Title</h5>
                        <p class="card-text">@kurs.Description</p>
                        <a class="btn btn-primary" asp-controller="Course" asp-action="Details" asp-route-id="@kurs.Id">Detay</a>
                    </div>
                </div>
            </div>
        }
    }
</div>
