<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <h1 class="display-5 fw-bold">Ana Sayfa</h1>
        <p class="col-md-8 fs-4">İlgi alanınıza yönelik en kapsamlı kursları incelemek üzere sitemize hoşgeldiniz. Sizler için eğitmenlerimiz tarafından hazırlanmış kurslar aşağıda bulunmaktadır. İyi çalışmalar Dileriz.</p>
        <button class="btn btn-primary btn-lg">Button</button>
    </div>
</div>